body {
    text-align: center;
    color: #000f08;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
    display: inline-block;
    font-size: 3.75em;
    margin-bottom: 0.25em;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
}

h3 {
    font-weight: 2em;
}

h4 {
    font-weight: 1.75em;
}

h5 {
    font-size: 1.25em;
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
}

.dark {
    background: #580308;
    color: #fff;
}

.dark a{
    text-decoration: none;
}

.sweet_brown {
    text-align: left;
    background: #000;
    color: #fff;
    padding: 50px;
    white-space: nowrap;
}



.hero_section {
    text-align: right;
    background-image: url(../images/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding: 3.125rem 3.125rem 6.25rem 3.125rem;
}

section, footer {
    margin-top: 75px;
}

footer {
    padding: 50px;
}

.speaker, .charla_texto, .eventos {
    display: inline-block;
    width: 30%;
}

.centrado {
    width: 75%;
    margin: 0 auto;
}

.speaker{
    width: 25%;
    vertical-align: middle;
    border-radius: 10px;
}

.charla_texto {
    width: 72.5%;
    vertical-align: middle;
    margin-left: 2.5%;
    white-space: normal;
}

.icono svg {
    fill: #ffffff;
}
.icono {
    width: 2rem;
    }

.subtitulo, h4, h5{
    font-weight: 400;
} 
    
#ubicacion h2 {
    margin: 1em auto;
    }
.sweet-brown h3, .sweet-brown h5 {
    margin-bottom: 0.5em; 
}

#previous-event h2 {
    margin-bottom: 1em;
}

#previous-event h3 {
    margin: 1em auto;
}

nav {
    text-align: left;
    padding: 1.25rem 4rem;
    position: fixed;
    width: 100vw;
}

nav ul {
    list-style-type: none;
}
    
nav ul li {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
}

footer i {
    margin: 0 0.25em 0.5em 0.25em;
    }
    
.event {
    margin-bottom: 3%;
}