body {
    text-align: center;
    color: #000f08;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.icono {
    width: 2rem;
    }

    .icono svg {
        fill: #fff;
    }

.dark {
    background: #000F08;
    color: #fff;
}

.dark a {
    text-decoration: none;
}

nav {
    text-align: left;
    padding: 1.25rem 4rem;
}

nav ul {
    list-style-type: none;
    margin-top: 0;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}


h1 {
    font-weight: 800;
    text-align: left;
    margin: 3% 0 3% 23%;
}

h2 {
    font-weight: 700;
    text-align: left;
    margin-left:  23%;
}

.text-description {
    margin: 3% 0;
}

.text-description p {
    text-align: left;
    width: 1000px;
    margin-left: 23%;
}

footer {
    padding: 50px;
}

footer i {
    margin: 0 0.25em 0.5em 0.25em;
    }